@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    height: 75px;
    background-color: #7e9c57;
    line-height: 75px;
    padding: 0px 80px;
}
nav .logo img{
    float: left;
    margin-left: -40px;
    width: 140px;
    height: 75px;
   
}

nav ul{
    float: right;
}
nav ul li{
    list-style:none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: Blue;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
    cursor: pointer;
}
nav ul li a:hover{
    color: #000000;
}
nav ul .active{
    color: #000000;
}
.checkbtn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
}
.container{
    background-color: #9bb973;
    background-size: cover;
    background-repeat: repeat;
    height: calc(100vh - 75px);
}

h1{    
    text-transform: uppercase;
    padding-top: 40px;
    text-align: center;
    
}
p{
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
   
}

.visual{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.visual > div {
    
    max-width: 990px;
    margin: 0 auto;
    align-items: center;
} 
.visual > div iframe{
    flex: 1 1 400px;
    margin: 10px;
   
} 

#check{
    display: none;
}
@media screen and (max-width: 990px){ 
    nav{
        width: 100%;
        height: 55px;
        background-color: #7e9c57;
        line-height: 55px;
        padding: 0px 50px;
    }
    nav .logo img{
        float: left;
        margin-left: -60px;
        width: 90px;
        height: 50px;
    }
    
    nav ul{
        float: right;
    }
    nav ul li{
        list-style:none;
        display: inline-block;
    }
    nav ul li a{
        text-decoration: none;
        color: Blue;
        font-size: 15px;
        text-transform: uppercase;
        padding: 0px 5px;
        cursor: pointer;
    }
    a:hover,a.active{
        background: none;
        color: #fff;
    }
    
    .container{
    background-color: #9bb973;
    background-size: cover;
    background-repeat: repeat;
    height: calc(120vh - 75px);
}
    #check:checked ~ ul{
        left: 0;
    }
    
}   

